#calendar {
	border-collapse: collapse;
	border-spacing: 0;
}

#calendar td {
	padding: 0;
}

.calendar-container {
	position: relative;
    font: 100%/1em 'Lato', sans-serif;
    font-size: 21px;
    text-shadow: 1px 1px #777;
    font-weight: bolder;
}

#calendar {
	background: transparent;
	display: inline-block;
}

#calendar thead {
	color: #e66b6b;
	font-weight: 700;
	text-transform: uppercase;
}

#calendar td {
	padding: .5em 1em;
	text-align: center;
}

#calendar .current-day {
	color: #e66b6b;
}

.prev-month,
.next-month {
	color: #999;
    text-shadow: 1px 1px #777;
}