#calendar {
	border-collapse: collapse;
	border-spacing: 0;
}

#calendar td {
	padding: 0;
}

.calendar-container {
	margin-top: 1em;
	position: relative;
    font-size: 25px;
	line-height: 1em;
    text-shadow: 1px 1px #777;
    font-weight: bolder;
}

#calendar {
	background: transparent;
	display: inline-block;
}

#calendar thead {
	color: #9090c9;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 1px 1px #333;
}

#calendar td {
	padding: .5em 0.7em;
	text-align: center;
}

#calendar .current-day {
	background-color: #df9494;
	border-radius: 10vh;
}

#calendar .holiday1:after {
	content: "";
	width: 0.8vmin;
	height: 0.8vmin;
	border-radius: 100%;
	background-color: #df9494;
	position: absolute;
	margin-left: 0.5vmin;
}

.prev-month,
.next-month {
	color: #999;
}