@import 'https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css';

body {
    background-color: #eee;
    cursor: default !important;
}

#settings {
    position: absolute;
    right: 0;
    margin-right: 100px;
    margin-top: 100px;
}

#time_of_day_range {
    width: 500px;
}

nav {
    height: auto;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 1px 1px #aaa;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

nav li a {
    display: block;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

nav li a:hover {
    color: #444;
}

nav li a.active {
    color: #1b2e8b;
}

.test-nav ul {
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    margin: 0;
}