@import "https://fonts.googleapis.com/css?family=Lato:300";

@keyframes pulse {
    0% {
        box-shadow: 0 0 16px var(--pulse-color), inset 0 0 16px var(--pulse-color);
    }
    50% {
        box-shadow: 0 0 32px var(--pulse-color), inset 0 0 28px var(--pulse-color);
    }
    100% {
        box-shadow: 0 0 16px var(--pulse-color), inset 0 0 16px var(--pulse-color);
    }
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    cursor: none;
}

.weather-cards {
    flex-direction: row;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    display: flex;
    -webkit-box-direction: normal;
    margin: 0;
    padding: 0;
}

.card-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 0;
    margin: 0 40px;
}

.card-container .card {
    overflow: hidden;
    width: 300px;
    padding: 0;
    height: 400px;
    min-height: 300px;
    max-height: 100%;
    border-radius: 5px;
    position: relative;
}

.card-container .card .details {
    position: absolute;
    border-radius: 8px;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: color 2s ease;
    z-index: 1;
}

.card-container .card .details-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px 20px;
    color: #6f6f6f;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-transition: color 2s ease;
    transition: color 2s ease;
}


.night .card .details, .smoke .card .details, .hail .card .details, .severe .card .details, .thunder .card .details {
    color: #ddd;
}

.card-container .card .details .right {
    text-align: right;
}

.card .details #date {
    margin: 4px 0;
}

.card-container .card .details #summary {
    font-weight: 600;
    font-size: 22px;
}

.card-container .card .details .temp {
    font-size: 60px;
    line-height: 60px;
}

.card-container .card .details .temp .temp-degrees {
    font-size: 18px;
    line-height: 30px;
    vertical-align: top;
}

.card-container .card .details .temp .temperature-night {
    font-size: 28px;
    color: #777;
}

.card-container .card .details .temp .temperature-night + .temp-degrees {
    color: #777;
    line-height: 65px;
    font-size: 14px;
}

.weather {
    background-color: rgba(0, 0, 0, 0);
}

.weather .inner {
    background-color: transparent;
    position: absolute;
    z-index: 1;
}

.weather .cloud {
    -webkit-transition: fill 2s ease;
    transition: fill 2s ease;
}

.weather .fog {
    opacity: 0;
    -webkit-transition: opacity 2s ease, fill 2s ease;
    transition: opacity 2s ease, fill 2s ease;
}

.smoke .weather .fog, .haze .weather .fog {
    opacity: 1;
}

.weather #sun {
    --pulse-color: #F7ED47;
    background-color: var(--pulse-color);
    box-shadow: 0 0 8px var(--pulse-color), inset 0 0 8px var(--pulse-color);
    animation: pulse 2s linear 1s infinite;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.night .weather #sun {
    background-color: #ccdbef;
    --pulse-color: #ccdbef;
}

.weather #fog1 {
    fill: #f5f5f5;
}

.smoke .weather #fog1, .hail .weather #fog1, .severe .weather #fog1, .thunder .weather #fog1 {
    fill: #91969f;
}

.night .weather #fog1 {
    fill: #00002e99;
}

.night .weather #fog2 {
    fill: #4f525c99;
}

.night .weather #fog3 {
    fill: #3f3d4c99;
}

.weather #fog2, .weather #cloud1 {
    fill: #efefef;
}

.smoke .weather #fog2, .hail .weather #fog2, .severe .weather #fog2, .thunder .weather #fog2,
.smoke .weather #cloud1, .hail .weather #cloud1, .severe .weather #cloud1, .thunder .weather #cloud1 {
    fill: #9FA4AD;
}

.weather #fog3, .weather #cloud2 {
    fill: #E6E6E6;
}

.smoke .weather #fog3, .hail .weather #fog3, .severe .weather #fog3, .thunder .weather #fog3,
.smoke .weather #cloud2, .hail .weather #cloud2, .severe .weather #cloud2, .thunder .weather #cloud2 {
    fill: #8B8E98;
}

.weather #cloud3 {
    fill: #D5D5D5;
}

.smoke .weather #cloud3, .hail .weather #cloud3, .severe .weather #cloud3, .thunder .weather #cloud3 {
    fill: #7B7988;
}


.container .outer, #canvas {
    position: fixed;
    pointer-events: none;
    z-index: 1;
}
