.datetime-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 25px;
    position: fixed;
    padding: 15px;
    border-radius: 8px;
}

.datetime-container .time {
    font-size: 100px;
    line-height: 100px;
    font-weight: 600;
}

.datetime-container .cur-temp {
    font-size: 100px;
    line-height: 100px;
    font-weight: 600;
    margin-left: 50px;
}


.datetime-container .date {
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
    margin-top: 20px;
}
