.datetime-container {
    display: flex;
    flex-direction: column;
    margin-top: 5vmin;
    margin-left: 5vmin;
    position: fixed;
    text-shadow: 1px 1px black;
    color: white;
}

.datetime-container .time {
    font-size: 10vh;
    line-height: 10vh;
    font-weight: 600;
}

.datetime-container .wind svg {
    fill: white;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .7));
}


.datetime-container .cur-temp, .datetime-container .cur-wind {
    margin-left: 0.5em;
    font-size: 10vh;
    line-height: 10vh;
    font-weight: 600;
}

.datetime-container .temp-units {
    font-size: 5vh;
    font-weight: 600;
    vertical-align: top;
}

.datetime-container .wind-units {
    font-size: 5vh;
    line-height: 10vh;
    font-weight: 600;
}


.datetime-container .date {
    font-size: 5vh;
    line-height: 5vh;
    font-weight: 600;
    margin-top: 0.5em;
}
