*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background-color: #000;
  margin: 0;
}

.canvas {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #dddddd;
  text-shadow: 1px 1px #00002e;
}